@use 'src/variables.scss';

.ts-pages {
    background: #fff;
    background-size: 200%;
    background-position-y: -700%;
}

@media (min-width: variables.$screen-md-min) {
    .ts-pages {
        display: grid;
        grid-template-columns: 20% 80%;
    }
}