<div class="ts-expense-history">
    <div class="d-flex justify-content-between mb-3">
        <h3 class="text-capitalize title m-0">Transactions History</h3>
        <a href="#" class="see-all">See all</a>
    </div>

    <div class="d-flex flex-column"
        style="gap: 10px;">
        <expense-history-item></expense-history-item>
        <expense-history-item></expense-history-item>
        <expense-history-item></expense-history-item>
        <expense-history-item></expense-history-item>
        <expense-history-item></expense-history-item>
    </div>
</div>
