<p-toast styleClass="ts-mw-75"></p-toast>
<div class="ts-expense-history">
    <div *ngIf="showHeader" 
        class="d-flex justify-content-between mb-3">
        <h3 class="text-capitalize title m-0">{{ header }}</h3>
        <a [routerLink]="urlHelper.expenseAll()" class="see-all">See all</a>
    </div>

    <div class="row">
        <ng-container *ngFor="let expense of expenses">
            <expense-history-item [data]="expense"
                class="col-lg-4 col-12 mb-2">
            </expense-history-item>
        </ng-container>
        <p *ngIf="loadOnScroll"
            #anchor>
        </p>
    </div>
</div>
