<p-toast styleClass="ts-mw-75"></p-toast>
<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" 
    [style]="{width: '50vw'}"
    position="bottom"
    acceptButtonStyleClass="ts-button-primary"
    rejectButtonStyleClass="ts-button-primary">
</p-confirmDialog>
<div class="ts-category-form vh-100">
    <h1 class="text-capitalize text-center ts-page-title ts-page-title--dark">{{ category ? 'Edit' : 'New' }} Category</h1>
    <a pButton 
        role="button" 
        class="p-button-text ts-category-form-back"
        [routerLink]="urlHelper.categoryManagement()">
        <span class="material-symbols-outlined">
            arrow_back_ios_new
        </span>
    </a>

    <p-progressSpinner *ngIf="loading"
        class="ts-category-form-loading">
    </p-progressSpinner>

    <div class="ts-category-form-content ts-hide-scrollbar overflow-auto">
        <form class="ts-category-form__form w-100 border shadow"
            *ngIf="form"
            [formGroup]="form">
            <div class="form-group mb-3">
                <label class="ts-label">name</label>
                <input pInputText
                    class="w-100"
                    formControlName="name" />
            </div>
            <div class="form-group mb-3">
                <label class="ts-label">description</label>
                <input pInputText
                    class="w-100"
                    formControlName="description" />
            </div>
            <div class="form-group mb-3">
                <label class="ts-label w-100">color</label>
                <p-colorPicker formControlName="color"></p-colorPicker>
            </div>
            <div class="form-group">
                <label class="ts-label">icon</label>
                <div class="container">
                    <div class="row">
                        <ng-container *ngIf="!iconPack?.length">
                            <p-skeleton class="col-4" height="65px"></p-skeleton>
                            <p-skeleton class="col-4" height="65px"></p-skeleton>
                            <p-skeleton class="col-4" height="65px"></p-skeleton>
                        </ng-container>
                        <div *ngFor="let icon of iconPack"
                            class="col-4 ts-category-form-icon">
                            <input type="radio" 
                                [id]="icon.icon" 
                                name="icon" 
                                [value]="icon.icon"
                                formControlName="icon"/>
                            <label [for]="icon.icon"
                                class="w-100">
                                <span class="material-symbols-outlined icon"
                                    [ngStyle]="{ background: (form.controls['icon'].value === icon.icon) ? form.controls['color'].value : '#fff'}"
                                    [class.active]="form.controls['icon'].value === icon.icon">
                                    {{ icon.icon }}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="position-absolute ts-category-form-btns d-flex justify-content-center">
        <button *ngIf="form" 
            pButton
            type="button"
            [label]="category ? 'Save' : 'Add'"
            [loading]="submitting"
            (click)="submit()"
            [attr.disabled]="form.valid ? null : true"
            class="ts-button-third ts-mr-5">
        </button>
        <button *ngIf="category"
            pButton
            type="button"
            label="Delete"
            [loading]="deleting"
            (click)="onDeleteClicked()"
            class="p-button-danger">
        </button>
    </div>
</div>
