<div class="ts-expense-list overflow-hidden vh-100">
    <h1 class="text-capitalize text-center ts-page-title">All Transactions</h1>

    <a pButton 
        role="button" 
        class="p-button-text ts-expense-list-back"
        [routerLink]="urlHelper.expense()"
        icon="pi pi-angle-left"
        label="Back">
    </a>

    <div class="ts-m-page-content ts-hide-scrollbar overflow-auto">
        <expense-history [showHeader]="false"
            [loadOnScroll]="true"
            [limit]="20">
        </expense-history>
    </div>
</div>
