@use 'src/variables.scss';

.ts-expense {
    height: 100%;
    padding: 20px;
    padding-top: 70px;
    position: relative;

    &-greeting,
    &-username {
        margin-left: 24px;
        font-size: variables.$font-size-sm;
    }

    &-username {
        font-size: 20px;
    }

    &-balance {
        width: 100%;
        height: 200px;
        background: variables.$color-secondary;
        border-radius: 20px;
        box-shadow: 0px 20px 13px 0px #798a8d3b;        margin-top: 20px;
        padding: 25px 20px;
        color: #fff;

        .total-balance {
            font-size: variables.$font-size-md;
        }

        .total {
            font-size: variables.$font-size-lg;
        }

        .income,
        .expense {
            .text {
                color: #D0E5E4;
            }

            .icon {
                background: #0da7a759;
                border-radius: 50%;
                font-size: 12px;
                padding: 5px;
            }

            p {
                font-size: 20px;
            }
        }
    }

    &-add-btn {
        position: absolute;
        top: 68px;
        right: 20px;
        text-decoration: none;
    }
}

@media (min-width: variables.$screen-md-min) {
    .ts-expense {
        
        &-balance {
            width: 50%;
            margin: 0 auto;
        }
    }
}