@use 'src/variables.scss';

.ts-user-profile {
    padding: 20px;
    padding-top: 40px;
    position: relative;
    background: #fff;

    &-back {
        color: variables.$text-color-primary;
        text-decoration: none;
        top: 40px;
        position: absolute;
        padding: 0;

        span {
            font-size: 20px;
        }
    }
}