@use 'src/variables.scss';

.ts-statistic {
    padding: 20px;
    padding-top: 70px;
    position: relative;
    background: #fff;
    overflow: hidden;

    &-content {
        height: 100%;
        padding: 20px 0;
        padding-bottom: 120px;
    }

    &-back {
        color: #222;
        text-decoration: none;
        top: 70px;
        position: absolute;
        padding: 0;

        span {
            font-size: 20px;
        }
    }
}

:host ::ng-deep .ts-statistic {
    p-selectbutton {
        .p-element {
            width: 77px;
            font-size: variables.$font-size-sm;
            padding: 6px 0px;
            border: 0;
            color: variables.$text-color-primary;
            border-radius: 10px!important;
            margin: 0 5px;

            &:focus {
                outline: none;
            }
        }

        .p-selectbutton .p-button.p-highlight {
            background: #26cbff;
            color: #fff;
        }
    }

    p-dropdown {
        .p-dropdown-label {
            padding: 8px;
        }
    }
}