<div class="ts-statistic vh-100">
    <h1 class="text-capitalize text-center ts-page-title ts-page-title--dark">Statistics</h1>

    <a pButton 
        role="button" 
        class="p-button-text ts-statistic-back"
        [routerLink]="urlHelper.expense()"
        icon="pi pi-angle-left"
        label="Back">
    </a>

    <div class="ts-statistic-content ts-hide-scrollbar overflow-auto">

        <form *ngIf="form" 
            [formGroup]="form">
            <div class="d-flex justify-content-center mb-3">
                <p-selectButton [options]="dateTypes"
                    optionLabel="name"
                    optionValue="value"
                    formControlName="dateType">
                </p-selectButton>
            </div>

            <div class="d-flex justify-content-end p-2">
                <p-dropdown [options]="transactionTypes"
                    formControlName="expenseType">
                </p-dropdown>
            </div>
        </form>

        <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>

        <p-chart type="pie" 
            [data]="data" 
            [options]="chartOptions"  
            [style]="{'width': '70%'}"
            class="w-40 d-block mx-auto mt-4 mb-4">
        </p-chart>

        <expense-history header="top transactions" 
            sort="amount,desc">
        </expense-history>
    </div>
</div>
