@use 'src/variables.scss';

.ts-category-management {
    padding: 20px;
    padding-top: 40px;
    background: variables.$color-secondary;

    &-back {
        color: #fff;
        text-decoration: none;
        top: 40px;
        position: absolute;
        padding: 0;

        span {
            font-size: 20px;
        }
    }

    &-add-btn {
        position: absolute;
        bottom: 102px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        background: #1cc6f0;
        border: 0;
        text-decoration: none;
    }
}