<div class="ts-category-management position-relative">
    <h1 class="text-capitalize text-center ts-page-title">Category</h1>

    <a pButton 
        role="button" 
        class="p-button-text ts-category-management-back"
        [routerLink]="urlHelper.expense()">
        <span class="material-symbols-outlined">
            arrow_back_ios_new
        </span>
    </a>

    <a pButton 
        role="button" 
        class="p-button ts-category-management-add-btn"
        icon="pi pi-plus"
        [routerLink]="urlHelper.newCategory()">
    </a>

    <category-list></category-list>
</div>
