@use 'src/variables.scss';

.ts-expense-form {
    padding: 20px;
    padding-top: 40px;
    position: relative;
    overflow: hidden;

    &-back {
        color: #222;
        text-decoration: none;
        top: 40px;
        position: absolute;
        padding: 0;

        span {
            font-size: 20px;
        }
    }

    &__form {
        background: #fff;
        margin-top: 20px;
        border-radius: 20px;
        padding: 30px 20px;
    }

    &__btns {
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);

        button {
            padding: 10px 30px;
            border: 0;
        }
    }
}

:host ::ng-deep .ts-expense-form {
    p-dropdown {
        .p-dropdown {
            width: 100%;
        }
    }

    p-inputnumber {
        width: 100%;

        .p-inputnumber {
            width: 100%;
        }
    }

    p-calendar {
        .p-calendar {
            width: 100%;
        }
    }
}